{% extends 'admin/base.html' %}
{% block content %}
<h1>Dashboard</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Produtos</h5>
                <p class="card-text display-6">{{ total_produtos }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Usuários</h5>
                <p class="card-text display-6">{{ total_usuarios }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Pedidos</h5>
                <p class="card-text display-6">{{ total_pedidos }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6">
        <canvas id="produtosChart"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="vendasChart"></canvas>
    </div>
</div>
<script>
const produtosLabels = {{ produtos_por_marca|map(attribute=0)|list|tojson }};
const produtosData = {{ produtos_por_marca|map(attribute=1)|list|tojson }};
new Chart(document.getElementById('produtosChart'), {
    type: 'bar',
    data: {labels: produtosLabels, datasets:[{label:'Produtos', data: produtosData}]}
});
const vendasLabels = {{ vendas_por_mes|map(attribute=0)|list|tojson }};
const vendasData = {{ vendas_por_mes|map(attribute=1)|list|tojson }};
new Chart(document.getElementById('vendasChart'), {
    type: 'line',
    data: {labels: vendasLabels, datasets:[{label:'Vendas', data: vendasData}]}
});
</script>
{% endblock %}
