{% extends 'base.html' %}
{% block content %}
<div class="cadastro-container">
  <h2>Cadastro</h2>
  <form method="POST" class="form">
    <div class="form-group">
      <input type="text" name="nome" placeholder="Nome" required>
    </div>
    <div class="form-group">
      <input type="email" name="email" placeholder="E-mail" required>
    </div>
    <!-- Exemplo para login.html e cadastro.html -->
    <div class="form-group senha-group">
      <input type="password" name="senha" id="senha" placeholder="Senha" required>
      <button type="button" class="toggle-senha" onclick="toggleSenha()" tabindex="-1">
        <img id="olho" src="{{ url_for('static', filename='img/view.png') }}" alt="Mostrar senha" style="width:22px; height:22px;">
      </button>
    </div>
    <button type="submit" class="btn-cadastrar">Cadastrar</button>
  </form>
</div>
<script>
function toggleSenha() {
  const senhaInput = document.getElementById('senha');
  const olho = document.getElementById('olho');
  if (senhaInput.type === "password") {
    senhaInput.type = "text";
    olho.src = "{{ url_for('static', filename='img/hide.png') }}";
    olho.alt = "Esconder senha";
  } else {
    senhaInput.type = "password";
    olho.src = "{{ url_for('static', filename='img/view.png') }}";
    olho.alt = "Mostrar senha";
  }
}
</script>
{% endblock %}
