{% extends 'base.html' %}
{% block content %}
{% if search_query %}
<h1>Resultados para "{{ search_query }}"</h1>
{% else %}
<h1>Produtos disponíveis</h1>
{% endif %}
<div class="produtos">
  {% for produto in produtos %}
    <div class="produto">
      <a href="{{ url_for('loja.produto_detalhe', id=produto.id) }}">
        <img src="{{ produto.imagem }}" alt="Imagem de {{ produto.nome }}">
        <h3>{{ produto.nome }}</h3>
        <p class="preco">R$ {{ "%.2f"|format(produto.preco) }}</p>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}
