{% extends 'base.html' %}
{% block content %}
<div class="cadastro-container">
  <h2>Recuperar senha</h2>
  <form method="POST" class="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.email(placeholder='E-mail', required=True) }}
      {% for error in form.email.errors %}
        <div class="invalid-feedback" style="display:block; color:#dc3545;">{{ error }}</div>
      {% endfor %}
    </div>
    <button type="submit" class="btn-cadastrar">Enviar link</button>
  </form>
</div>
{% endblock %}
